@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-color: black;
    color: white;
    color-scheme: dark;
}

#timer-header {
    text-align: center;
    font-size: 3rem;
    display: inline-flex;
    place-self: center;
    justify-self: center;
    background-color: gray;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
}